*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}
body{
    color: white;
    background-color: #081b29;
}
body::-webkit-scrollbar{
    display: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    
}
.navbar a:hover{
    color: #0ef;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background-image:url(port.png); */
    background-color: black;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10%;
    background-color: #081b29;
}

.ritikimg{
    height: 50vh;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px cyan,
    0px 0px 20px cyan,
    0px 0px 50px cyan,
    0px 0px 100px cyan;
   transition: all 1s 0s;
   opacity: 0.7;
}
.ritikimg:hover{
    transform: scale(1.2);
    opacity: 1;
}

.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size: 40px;
    font-weight: 600;
    color: cyan;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 30px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    /* color: #081b29; */
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    color: #081b29;
    /* cursor: pointer; */
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan

}
/* about */
.about{
    display: flex;
    justify-content: space-evenly;
    background-color: #081b29;
    margin: 90px 0px 90px 0px;
    /* height: 500px; */
    /* width: 100%; */
}
.ritikimg2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 120px;
}
.ritikimg2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px cyan,0px 0px 20px cyan,0px 0px 50px cyan,0px 0px 100px cyan;
    transition: all 2s 0s;
}
.ritikimg2:hover{
    transform: scale(1.2);
}
.about-text{
    width: 800px;
    
}
.about-text h2{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.about-text h2 span{
    color: cyan;
}
.about-text h4{
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: white;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
/* skills */
.skills{
    height: 700px;
    margin-bottom:110px;
    /* margin: 20px; */
}
.skills h2{
    font-size: 60px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-right: 200px;
}
.skills h2 span{
    color: cyan;
}
.skills h4{
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-right: 200px;
    padding-top: 30px;
}
.container{
    display: flex;
    margin-top: 40px;
    padding: 1px;
    margin: 3px 0px 3px 0px;
    /* flex-wrap: wrap; */
}
.html-skills{
    width: 550px;
    height: 550px;
    padding: 20px;
    margin: 25px;
    box-shadow: 0px 0px 5px cyan,
    0px 0px 10px cyan,0px 0px 20px cyan,
    0px 0px 50px cyan; 
    transition: all 1s 0s;
    border-radius: 30px;
    /* transform:translate(40px,40px); */
    
}

.html-skills:hover{
    transform: translatey(-20px);
    /* transform: skewY(30deg); */
}
.html-skills h3{
    color: cyan;
    font-size: 30px;
    font-weight: 600;
}
.html-skills p{
    color: white;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 1rem;
}
.html{
    width: 120px;
    height: 120px;
    border-radius: 30px;

}
.css{
    width: 120px;
    height: 120px;
    border-radius: 30px;
}
.js{
    width: 120px;
    height: 120px;
    border-radius: 30px;
}

/* project */
.projects h1{
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-align: center;
    /* margin-right: 300px; */
    padding-right: 150px;
    margin-top: 20px;
    /* text-decoration: underline; */
}
.projects h1 span{
    font-size: 60px;
    font-weight: 600;
    color: cyan;
}
.projects> p{
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 270px;
}
.projects> p span{
    color: cyan;
}
.project{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* margin: 1px; */
    /* padding: 1px; */
}

.same{
    height: 250px;
    box-shadow: 0px 0px 5px cyan,
    0px 0px 10px cyan,0px 0px 20px cyan,
    0px 0px 50px cyan; 
    transition: all 1s 0s;
    border-radius: 30px;
    
}
.same:hover{
    transform: scale(1.2);
}
.gym{
    margin: 20px;
    padding: 20px;
    padding-top: 40px;
}
.gym h3{
    font-size: 30px;
    font-weight: 600;
    color: cyan;

}
.gym p{
    width: 600px;
    color: white;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 1rem;
}
/* contact */
.contact{
    height: 500px;
    width: 100%;
    margin-bottom: 170px;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head h2{
    font-size: 60px;
    font-weight: 600;
}
.head h2 span{
    font-size: 60px;
    font-weight: 600;
    color: cyan;
}
.head i{
    font-size: 30px;
    font-weight: 300;
    padding-top: 20px;
}
.contact-us{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    
}
.form{
    margin: 20px;
    padding: 10px;
    width: 500px;
    height:50px ;
    border-radius: 30px;
    border: none;
    border: 2px solid cyan;
    background-color: transparent;
}
.form1{
    margin: 20px;
    padding: 10px;
    width: 500px;
    height:100px ;
    border-radius: 30px;
    border: 2px solid cyan;
    background-color: transparent;
}
input::placeholder{
    color: white;
}
textarea::placeholder{
    color: white;
}
.btn-box1{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    /* color: #081b29; */
    letter-spacing: 1px;
    /* text-decoration: none; */
    font-weight: 600;
    width: 500px;
    border: none;
    cursor: pointer;
    color: #081b29;
}
.btn-box1:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
    /* cursor: pointer; */

}

#hr{
    visibility: hidden;
}

    
